/* needed as base for js */
.u1-auto-grid {
    --u1-Items-width: 10rem;
    --u1-Gap: 1rem;
    --u1-Col-gap: var(--u1-Gap);
    --u1-Row-gap: var(--u1-Gap);
    display: grid;
    grid-column-gap: var(--u1-Col-gap); /* todo: safari 10.3, after it "column-gap" */
    grid-row-gap:    var(--u1-Row-gap);
    grid-template-columns: repeat(auto-fill, minmax( var(--u1-Items-width), 1fr) ); /* min() not supported everywhere? */
    grid-template-columns: repeat(auto-fill, minmax( min(var(--u1-Items-width), 100%) , 1fr) );
    grid-auto-flow:dense; /* why */

    container-name: u1-items;
    container-type: inline-size;

    /* if using display:flex ?
    flex-wrap:wrap;
    justify-content:center;
    */
}

.u1-auto-grid > * {
    container-name: u1-item;
    container-type: inline-size;
}
/* if using display:flex ?
.u1-auto-grid > * {
    flex-basis:var(--u1-Items-width);
}
*/
